@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #0a84cb;
    --text-color: #736d6da9;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
}

/* common styles */

img{
    width: 100%;
    margin-top: 3rem;
}
a {
    text-decoration: none;
    color: white;
}
.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-size: 400;
    color: var(--text-color);
}
.title{
    color: #0a84cb;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

/* layouts */
.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: #070707;
    grid-template-columns: 1fr;
    gap: 4rem;

}
@media only screen and (max-width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

/* profile */
.profile_container{
    display: flex;
    gap: 2rem;
}
.profile_profile_image{
    max-width: 250px;
}
.profile_name_firstName{
    color: white;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.profile_name_lastName{
    color: #0a84cb;
    font-weight: 600;
    font-size: clamp(2rem, 14vw, 6rem);
    text-transform: uppercase;
    display: block;
}
.profile_title{
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}
@media only screen and (max-width: 768px){
    .profile_container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .profile_profile_image{
        max-width: 200px;
    }
}
/* skills */
.skills_list{
    margin-top: 1rem;
    margin-left: 0rem;
    line-height: 2;
}
/* experience */
.subtitle{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2rem;
}
.date{
    font-size: 1.4rem;
    color: white;
    font-weight: 100;
    
}
.group-2{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
/* education & certifications */
.two-column-section {
  display: flex; /* Activates flexbox on the container */
  justify-content: space-between; /* Distributes space between the columns */
  gap: 20px; /* Adds space between columns for better readability */
  margin-left: -1.5rem;
}

.column {
  flex: 1; /* Makes both columns grow equally to fill the available space */
  padding: 15px;
}

.group-2-two-column-section {
  display: flex; /* Activates flexbox on the container */
  justify-content: space-between; /* Distributes space between the columns */
  gap: 20px; /* Adds space between columns for better readability */
    margin-left: -1.5rem;
}
/* socials */
.social_items{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.social_item{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    justify-content: flex-start;
    color: var(--text-color);
}
.social_item:hover{
    color: #0a84cb;
}

hr{
    width: 88%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: -1rem;
    border: none;
    border-top: 2px solid #1775ac78;
}